<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path "banner.jpg" %>);">
  <div class="container">
    <h1>Make your <strong>own cocktail</strong> be <strong>creative</strong>!</h1>

    <a class="btn btn-flat" href="#">Try it Now</a>
  </div>
</div>


<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  <% end %>
</ul>

<%= link_to "Add your favorite cocktail", new_cocktail_path %>




