.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #ED4C67;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #ff6b81;
  color: white;
}



#show-button {
  position: absolute;
  right:    0;
  bottom:   0;
}
